<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/about.css" rel="stylesheet" type="text/css"/>
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script> -->
    <title>Conference Page</title>
     <script
      src="https://kit.fontawesome.com/716817a6e7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="page-heading">
        <i class="fa fa-facebook-f"></i>
        <i class="fa fa-twitter"></i>
        <span class="heading-label">English</span>
        <span class="heading-label">My Page</span>
        <span class="heading-label">Logout</span>
      </div>
      <div class="navbar">
        <a href="#"
          ><img
            src="../assets/images/logo.png"
            alt="Sawasawa brand logo"
            class="logo-img"
        /></a>
        <nav>
          <div class="nav-links" id="navLinks">
            <i class="fas fa-times close-icon" id="closeBtn"></i>
            <ul class="nav-items" id="navItems">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">Program</a></li>
              <li><a href="#">Join</a></li>
              <li><a href="#">Sponsor</a></li>
              <li><a href="#">Trends</a></li>
            </ul>
            <button class="btn">Latest Trends</button>
          </div>
        </nav>
        <i class="fas fa-bars bars" id="openBtn"></i>
      </div>
    </header>
    <section class="hero-section row d-flex justify-content-center">
      <div class="col-md-8  ms-5 text-center">
        <h2 class="h1-text header-para">WOMEN IN TECH<br>
        GLOBAL CONFERENCE
    2022</h3>
     <div class="card mb-5" style=" font-size:12px">
  <div class="card-body bg-white">
    
    <p class="about-section">The women in tech event is  conference that brings together women passionate about technology from all over the world. These women will get a chance to showcase their work to fellow women tech enthusiasts. They get a chance to
         speak out of the challenges they face as women in the tech space. It is an open event where the ladies could speak up 
         of their falures and achievements ever since they joined the industries.
    </p>
  </div>
</div>

<div class="about-email">
    <P>Please contact us via email for further questions regarding the women in tech global conference 2022<br>
    <u><b>@womenintechconference@hotmail.com</b></u></P>
      </div>

      
     
    </section>

       <section class="logo-section">
      <div class="about-section">
        <h2 class="logo-heading">SawaSawa Fashion Week Logo</h2>
        <hr />
        <p class="about-para">
          The logo of the Sawasawa brand was decided through a voting
          competition from Jan 2nd to May 4th. After an online public voting
          process. A lodo from Shaq Deff was chosen as the winner. Afte some
          consultation with Ms GG we optimized the prize winning logo to this
          year summit as following,
        </p>
        <img
          src="../assets/images/logo.png"
          alt="Women in Tech logo"
          class="about-logo"
        />
      </div>
    </section>

 

     <section class="fashion-section">
      <div class="about-section">
        <h2 class="logo-section">See the past Sawasawa Fashion Weeks</h2>
        <hr />
        <p>
          Take a look at the last two SawaSawa Fashion Week which took place in
          London and Ethiopia
        </p>
        <div class="images">
          <div class="fashion-images">
            <img
              src="../assets/images/conference1.jpg"
              alt="People in an event"
              class="fashion-img"
            />
            <div class="blend">
              <h2>2021</h2>
              <p>Women in Tech 2021 in South Africa.</p>
            </div>
          </div>
          <div class="fashion-images">
            <img
              src="../assets/images/conference2.jpg"
              alt="People checking items in a fashion event"
              class="fashion-img"
            />
            <div class="blend">
              <h2>2021</h2>
              <p>Women in Tech 2020 in Kenya.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- Footer Section -->
    <footer>
      <div class="footer-section">
        <div class="footer-descr">
          <img src="../assets/images/logo.png" alt="The cc logo" class="copyright-img" />
        </div>
        <div>
          <span>2022 Women in Tech Global Conference</span>.Some Rights Reserved</span> <br />
          <span> 在这里度过了一段美好的时光，而不是很长时间</span>
        </div>
      </div>
    </footer>
    <script src="../scripts/index.js"></script>
    <script src="../scripts/mobilemenu.js"></script>
  </body>
</html>
