<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Conference Page</title>
       <script
      src="https://kit.fontawesome.com/716817a6e7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="page-heading">
        <i class="fa fa-facebook-f"></i>
        <i class="fa fa-twitter"></i>
        <span class="heading-label">English</span>
        <span class="heading-label">My Page</span>
        <span class="heading-label">Logout</span>
      </div>
      <div class="navbar">
        <a href="#"
          ><img
            src="../assets/images/logo.png"
            alt="Sawasawa brand logo"
            class="logo-img"
        /></a>
        <nav>
          <div class="nav-links" id="navLinks">
            <i class="fas fa-times close-icon" id="closeBtn"></i>
            <ul class="nav-items" id="navItems">
              <li><a href="about.html">About</a></li>
              <li><a href="#main-program">Program</a></li>
              <li><a href="#main-program">Join</a></li>
              <li><a href="#sponsors">Patners</a></li>
              <li><a href="#speakers-section">Trends</a></li>
            </ul>
            <button class="btn">WIT Campaign</button>
          </div>
        </nav>
        <i class="fas fa-bars bars" id="openBtn"></i>
      </div>
    </header>
    <section class="hero-section">
      <div class="container-fluid ms-5 ">
        <h3 class="h3-text text-danger pt-5">"Hello! tech World"</h3>
        <h2 class="h1-text text-danger">WOMEN IN TECH<br>
        GLOBAL CONFERENCE<br>
    2022</h3>
     <div class="card hero-card" style="width: 35rem; font-size:12px">
  <div class="card-body bg-light">
    
    <p class="card-text">A technology conference embracing and celebrating the power and value of women in tech, aiming to create, imapct and motivate young ladies to join the tech field</p>
  </div>
</div>

<div class="pt-3">
    <h4 class="text-dark">2022.15.7(THU) ~ 10(FRI)</h4>
    <P>@ Nairobi Kenya, Nyayo Stadium</P>
      </div>

      
     
    </section>
        <!-- Main-program -->
    <section class="main-program">
      <h2 class="program-heading">Program</h2>
      <hr />
      <div class="program-labels">
        <div class="program-items">
          <i class="fa-solid fa-chalkboard-user"></i>
          <h3 class="tag">Presentations</h3>
          <p class="description">Ladies showcasing the various achievement they'me made in technology
          </p>
        </div>
        <div class="program-items">
          <i class="fa-brands fa-artstation"></i>
          <h3 class="tag">Exhibitions</h3>
          <p class="description">
            Showcasing of various and latest technologies available
            
          </p>
        </div>
        
        <div class="program-items">
          <i class="fa-solid fa-house-laptop"></i>
          <h3 class="tag">Workshops</h3>
          <p class="description">
            Get to design your own idea with the materials given.
          </p>
        </div>
        <div class="program-items">
          <i class="fa-solid fa-chalkboard-user"></i>
          <h3 class="tag">Network</h3>
          <p class="description">
            Interact and network with various women passionate about technology and get to learn of their strengths.
          </p>
        </div>
      </div>
      <h2 class="program-heading2">SEE THE WHOLE PROGRAM</h2>
      <button class="program-btn">JOIN Women in Tech Conference</button>
    </section>

      

        <!-- Speakers Section -->
    <section class="speakers-section" id="speakers">
      <h2 class="speaker-header">Featured Speakers</h2>
      <hr/>
      <div class="subsection"></div>
    </section>
      <!-- Patners-Section -->
    <section class="sponsors">
      <div class="patners-section">
        <h2 class="patner-heading">Patners</h2>
        <hr />

        <div class="patner-img">
          <div class="square-holder">
            <img
            src="../assets/images/teknogalz.jpg"
            alt="The adidas logo"
            class="label-img"
          />
          </div>
         <div class="square-holder">
           <img
            src="../assets/images/google.png"
            alt="The amazon logo"
            class="label-img"
          />
         </div>     
         <div class="square-holder">
         <img src="../assets/images/girlswhocode.png" alt="The pepsilogo" class="label-img" />

         </div>    
          <div class="square-holder"> 
          <img src="../assets/images/womenintech.png" alt="The nike logo" class="label-img" />
        </div>
        </div>
      </div>
    </section>


 <!-- Footer Section -->
    <footer>
      <div class="footer-section">
        <div class="footer-descr">
          <img src="../assets/images/logo.png" alt="The cc logo" class="copyright-img" />
        </div>
        <div>
          <span>2022 Women in Tech Global Conference</span>.Some Rights Reserved</span> <br />
          <span> 在这里度过了一段美好的时光，而不是很长时间</span>
        </div>
      </div>
    </footer>

     
    <script src="../scripts/index.js"></script>
    <script src="../scripts/speakers.js"></script>
    <script src="../scripts/mobilemenu.js"></script>
  </body>
</html>
