<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script> -->
    <title>Conference Page</title>
       <script
      src="https://kit.fontawesome.com/716817a6e7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="page-heading">
        <i class="fa fa-facebook-f"></i>
        <i class="fa fa-twitter"></i>
        <span class="heading-label">English</span>
        <span class="heading-label">My Page</span>
        <span class="heading-label">Logout</span>
      </div>
      <div class="navbar">
        <a href="#"
          ><img
            src="../assets/images/logo.png"
            alt="Sawasawa brand logo"
            class="logo-img"
        /></a>
        <nav>
          <div class="nav-links" id="navLinks">
            <i class="fas fa-times close-icon" id="closeBtn"></i>
            <ul class="nav-items" id="navItems">
              <li><a href="about.html">About</a></li>
              <li><a href="#">Program</a></li>
              <li><a href="#">Join</a></li>
              <li><a href="#">Sponsor</a></li>
              <li><a href="#">Trends</a></li>
            </ul>
            <button class="btn">Latest Trends</button>
          </div>
        </nav>
        <i class="fas fa-bars bars" id="openBtn"></i>
      </div>
    </header>
    <section class="hero-section">
      <div class="container-fluid ms-5 ">
        <h3 class="h3-text text-danger pt-5">"hello tech World"</h3>
        <h2 class="h1-text text-danger">WOMEN IN TECH<br>
        GLOBAL CONFERENCE<br>
    2022</h3>
     <div class="card" style="width: 35rem; font-size:12px">
  <div class="card-body bg-light">
    
    <p class="card-text">A technology conference embracing and celebrating the power and value of women in tech, aiming to create, imapct and motivate young ladies to join the tech field</p>
  </div>
</div>

<div class="pt-3">
    <h3 class="text-dark">2022.15.7(THU) ~ 10(FRI)</h3>
    <P>@ Nairobi Kenya, Nyayo Stadium</P>
      </div>

      
     
    </section>
        <!-- Main-program -->
    <section class="main-program">
      <h2 class="program-heading">Program</h2>
      <hr />
      <div class="program-labels">
        <div class="program-items">
          <i class="fa-solid fa-chalkboard-user"></i>
          <h3 class="tag">Presentations</h3>
          <p class="description">
            Listen to various speakers present their work and also explain their
            journey in the fashion industry.
          </p>
        </div>
        <div class="program-items">
          <i class="fa-brands fa-artstation"></i>
          <h3 class="tag">Exhibitions</h3>
          <p class="description">
            Showcasing of various designs from the best designers around the
            world.
          </p>
        </div>
        
        <div class="program-items">
          <i class="fa-solid fa-house-laptop"></i>
          <h3 class="tag">Workshops</h3>
          <p class="description">
            Get to design your own idea with the materials given.
          </p>
        </div>
        <div class="program-items">
          <i class="fa-solid fa-chalkboard-user"></i>
          <h3 class="tag">Network</h3>
          <p class="description">
            Interact and network with various artists and get to learn and
            understand the fashion industry from different cultures.
          </p>
        </div>
      </div>
      <h2 class="program-heading2">SEE THE WHOLE PROGRAM</h2>
      <button class="program-btn">JOIN SAWASAWA FASHION COMMUNITY</button>
    </section>

      

        <!-- Speakers Section -->
    <section class="speakers-section" id="speakers">
      <h2 class="speaker-header">Featured Speakers</h2>
      <hr/>
      <div class="subsection"></div>
    </section>
      <section class="section section-default mt-none p-5 bg-secondary">
<div class="container text-center ">
<h2 class="mb-sm">Our <strong>Partners</strong></h2>
<strong>
<div class="row justify-content-center">
<div class="col-sm-3 col-md-2 col-lg-2 ">
<div class="square-holder">
<img alt="" src="../assets/images/shecodes.png" />
</div>
</div>
<div class="col-sm-3 col-md-2 col-lg-2">
<div class="square-holder">
<img alt="" src="../assets/images/girlswhocode.png" />
</div>
</div>
<div class="col-sm-3 col-md-2 col-lg-2">
<div class="square-holder">
<img alt="" src="../assets/images/google.png" />
</div>
</div>
<div class="col-sm-3 col-md-2 col-lg-2">
<div class="square-holder">
<img alt="" src="../assets/images/womenintech.png" />
</div>
<!-- <div class="col-sm-3 col-md-2 col-lg-2">
<div class="square-holder">
<img alt="" src="../assets/images/womenintech.png" />
</div> -->
</div>
</div>
</strong>
</div>
</section>

<section class="footer  border bg-light">
        
        <div class="row d-flex logo-section justify-content-center align-middle">
            <div class="col-md-2   text-white ">
  <img src="../assets/images/logo.png" class="" alt="logo">

</div>

 <div class="col-md-6  text-dark ">
  <div class="">
    <h5 class="card-title align-middle">@Women In Tech Global Conference 2022</h5>

  </div>
</div>
        </div>
    </section>
    
    <script src="../scripts/index.js"></script>
    <script src="../scripts/speakers.js"></script>
    <script src="../scripts/mobilemenu.js"></script>
  </body>
</html>
